{extend name='public/base' /}

{block name='seo' /}
<title>{$title|default='标题'}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content' /}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		交管中队
		<span class="c-gray en">&gt;</span>
		录入车辆 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">

		<article class="page-container">
			<form class="form form-horizontal" id="form-article-add" method="post" action="{:url('create')}">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">暂扣单号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="" placeholder="" id="" name="detained_id">
					</div>
				</div>

				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">暂扣日期：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="date" class="input-text" value="" placeholder="" id="" name="detained_date">
					</div>
				</div>

				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">车辆类型：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
						<select name="detained_type" class="select">
							<option value="1">小型汽车</option>
							<option value="2">大型汽车</option>
							<option value="3">两轮摩托车</option>
							<option value="4">轻便摩托车</option>
						</select>
						</span> </div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">车牌号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="" placeholder="" id="" name="detained_number">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">暂扣原因：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
						<select name="detained_reason" class="select">
							<option value="1">涉案</option>
							<option value="2">违章</option>
							<option value="3">事故</option>
							<option value="4">其他</option>
						</select>
						</span> </div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">暂扣单位：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
						<select name="detained_police" class="select">
							
							{volist name="squadron" id="vo"}
								<option value="{$vo.id}">{$vo.squadron_name}</option>
							{/volist}
						</select>
						</span> </div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">停放停车场：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
						<select name="detained_parking" class="select">
							{volist name="parking" id="vo"}
								<option value="{$vo.id}">{$vo.parking_name}</option>
							{/volist}							
						</select>
						</span> </div>
				</div>

				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">经办民警：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="" placeholder="" id="" name="detained_man">
					</div>
				</div>

				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
					</div>
				</div>
			</form>
		</article>
	</div>
</section>
{/block}




{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
// $(function(){
// 	$('.skin-minimal input').iCheck({
// 		checkboxClass: 'icheckbox-blue',
// 		radioClass: 'iradio-blue',
// 		increaseArea: '20%'
// 	});


// 	$list = $("#fileList"),
// 	$btn = $("#btn-star"),
// 	state = "pending",
// 	uploader;

// 	var uploader = WebUploader.create({
// 		auto: true,
// 		swf: 'lib/webuploader/0.1.5/Uploader.swf',

// 		// 文件接收服务端。
// 		server: 'fileupload.php',

// 		// 选择文件的按钮。可选。
// 		// 内部根据当前运行是创建，可能是input元素，也可能是flash.
// 		pick: '#filePicker',

// 		// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
// 		resize: false,
// 		// 只允许选择图片文件。
// 		accept: {
// 			title: 'Images',
// 			extensions: 'gif,jpg,jpeg,bmp,png',
// 			mimeTypes: 'image/*'
// 		}
// 	});
// 	uploader.on( 'fileQueued', function( file ) {
// 		var $li = $(
// 			'<div id="' + file.id + '" class="item">' +
// 				'<div class="pic-box"><img></div>'+
// 				'<div class="info">' + file.name + '</div>' +
// 				'<p class="state">等待上传...</p>'+
// 			'</div>'
// 		),
// 		$img = $li.find('img');
// 		$list.append( $li );

// 		// 创建缩略图
// 		// 如果为非图片文件，可以不用调用此方法。
// 		// thumbnailWidth x thumbnailHeight 为 100 x 100
// 		uploader.makeThumb( file, function( error, src ) {
// 			if ( error ) {
// 				$img.replaceWith('<span>不能预览</span>');
// 				return;
// 			}

// 			$img.attr( 'src', src );
// 		}, thumbnailWidth, thumbnailHeight );
// 	});
// 	// 文件上传过程中创建进度条实时显示。
// 	uploader.on( 'uploadProgress', function( file, percentage ) {
// 		var $li = $( '#'+file.id ),
// 			$percent = $li.find('.progress-box .sr-only');

// 		// 避免重复创建
// 		if ( !$percent.length ) {
// 			$percent = $('<div class="progress-box"><span class="progress-bar radius"><span class="sr-only" style="width:0%"></span></span></div>').appendTo( $li ).find('.sr-only');
// 		}
// 		$li.find(".state").text("上传中");
// 		$percent.css( 'width', percentage * 100 + '%' );
// 	});

// 	// 文件上传成功，给item添加成功class, 用样式标记上传成功。
// 	uploader.on( 'uploadSuccess', function( file ) {
// 		$( '#'+file.id ).addClass('upload-state-success').find(".state").text("已上传");
// 	});

// 	// 文件上传失败，显示上传出错。
// 	uploader.on( 'uploadError', function( file ) {
// 		$( '#'+file.id ).addClass('upload-state-error').find(".state").text("上传出错");
// 	});

// 	// 完成上传完了，成功或者失败，先删除进度条。
// 	uploader.on( 'uploadComplete', function( file ) {
// 		$( '#'+file.id ).find('.progress-box').fadeOut();
// 	});
// 	uploader.on('all', function (type) {
//         if (type === 'startUpload') {
//             state = 'uploading';
//         } else if (type === 'stopUpload') {
//             state = 'paused';
//         } else if (type === 'uploadFinished') {
//             state = 'done';
//         }

//         if (state === 'uploading') {
//             $btn.text('暂停上传');
//         } else {
//             $btn.text('开始上传');
//         }
//     });

//     $btn.on('click', function () {
//         if (state === 'uploading') {
//             uploader.stop();
//         } else {
//             uploader.upload();
//         }
//     });

// 	var ue = UE.getEditor('editor');

// });
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>
</html>
