{extend name='public/base' /}

{block name='seo' /}
<title>{$title|default='标题'}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content' /}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 车场人员 <span class="c-gray en">&gt;</span> 综合查询 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<form action="{:url('querylist')}" method="get">
				<div class="text-c">
					按暂扣单号查找： <input type="text" class="input-text" style="width:250px" placeholder="输入关键词" id="" name="detained_id">
					按车牌号查找： <input type="text" class="input-text" style="width:250px" placeholder="输入关键词" id="" name="detained_number">
					按车辆类型查找：
					<select name="detained_type" class="select" style="width:250px">
						<option value="-1"></option>
						<option value="1">小型汽车</option>
						<option value="2">大型汽车</option>
						<option value="3">两轮摩托车</option>
						<option value="4">轻便摩托车</option>
					</select>
				</div>
				<div>
					按暂扣原因查找： 
					<select name="detained_reason" class="select" style="width:200px">
						<option value="-1"></option>
						<option value="1">涉案</option>
						<option value="2">违章</option>
						<option value="3">事故</option>
						<option value="4">其他</option>
					</select>
					按暂扣单位查找：
					<select name="detained_police" class="select" style="width:200px">
							<option value="-1"></option>
							{volist name="squadron" id="vo"}
								<option value="{$vo.id}">{$vo.squadron_name}</option>
							{/volist}
					</select>
					按车辆状态查找：
					<select name="detained_status" class="select" style="width:200px">
						<option value="-1"></option>
						<option value="0">已释放</option>
						<option value="1">已入库</option>
						<option value="2">待释放</option>
						<option value="3">待报废</option>
						<option value="4">已报废</option>
					</select>
					<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
				</div>				
			</form>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="100">暂扣单号</th>
							<th width="80">车牌号</th>
							<th width="120">车辆类型</th>
							<th width="120">暂扣原因</th>
							<th width="120">暂扣单位</th>
							<th width="100">停放车场</th>
							<th width="150">当前状态</th>
						</tr>
					</thead>
					<tbody>
						{volist name="cars" id="vo"}
							<tr class="text-c">
								<th width="100">{$vo->detained_id}</th>
								<th width="100">{$vo->detained_number}</th>
								<th width="60">{$vo->detained_type}</th>
								<th width="80">{$vo->detained_reason}</th>						
								<th width="130">{$vo->squadron->squadron_name}</th>
								<th width="80">{$vo->parking->parking_name}</th>
								<th width="100">{$vo->detained_status}</th>
							</tr>
						{/volist}
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,2,4]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
		$(obj).remove();
		layer.msg('已停用!',{icon: 5,time:1000});
	});
}

/*用户-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
		$(obj).remove();
		layer.msg('已启用!',{icon: 6,time:1000});
	});
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>
</html>
