<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 交管中队<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
									<li><a href="{:url('police/carAdd')}" title="录入车辆">录入车辆</a></li>
									<li><a href="{:url('police/policeList')}" title="车辆列表">车辆列表</a></li>
                  <li><a href="{:url('police/discardedAudit')}" title="报废审核">报废审核</a></li>
									<li><a href="{:url('police/releaseAudit')}" title="放车审核">放车审核</a></li>
									<li><a href="{:url('police/queryList')}" title="综合查询">综合查询</a></li>
                  <li><a href="{:url('police/statisticsList')}" title="综合统计">综合统计</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 车场人员<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
									<li><a href="{:url('parking/parkingList')}" title="车辆列表">车辆列表</a></li>
                  <li><a href="{:url('parking/releaseCar')}" title="车场放车">车场放车</a></li>
                  <li><a href="{:url('parking/discardedAdd')}" title="报废处理">报废处理</a></li>
                  <li><a href="{:url('parking/queryList')}" title="综合查询">综合查询</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('user/adminList')}" title="管理员列表">管理员列表</a></li>
                </ul>
            </dd>
        </dl>

    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
